.bigcard
{
    .image
    {
        transform: scale(1.3);
    }
    .cart{
        height: 264px;
        overflow: hidden;
     .content
     {
        background: transparent;
        backdrop-filter: blur(10px);
        h2 
        {
            font-size: 30px;
            font-weight: 500;
            color: white;
        }
        .ex
        {
          max-width: 250px;
          font-size: 16px;
            font-weight: 400;
            color: white;
        }
        .price
    {
        color:#F6762C;
        font-size: 20px;
        font-weight: 500px;
       span{
        color: #fa975db1;
        position: relative;
        font-size: 16px;
        font-weight: 500px;
       } 
       span::after{
        position: absolute;
        content: '';
        width: 90%;
        height: 1px;
        bottom: 7px;
        left: 5px;
        background-color: #fa975db1;
      
    }
    }
    .orderNow
    {
        background-color: #F6762C;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500px;
        cursor: pointer;
    }
     }
    }
}