.navbar{
    background-color: #151515;
    position: fixed;
    z-index: 99990;
    .menu,
    .close
    {
     color: #F6762C;
    cursor: pointer;
    }
    ul{
        li{
            .active 
            {
                background-color: #F6762C;
                color: white;
            }
            a 
            {
            margin:0 10px;
            padding: 2px 4px;
            border-radius: 5px;
            cursor: pointer;
            color: #F6762C;
            text-decoration: none;
            }
        }
    }
    .carterth{
        span
        {
            background-color: #F6762C;
            padding: 10px 20px;
            text-align: center;
            width: 165px;
            height: 49px;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500px;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 900px) {
        .link{
            position: absolute;
            background: transparent;
            backdrop-filter: blur(40px);
            padding-bottom: 15px;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            top: -300px;
            transition: .3s;
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(253, 132, 4, 0.645);
        }
        .toggle{
            top: 20px;
        }
        ul{
            text-align: center;
        }
        ul li 
        {
            margin: 10px 0;
        }
    }
    

    @media screen and (min-width: 901px) {
        .navbar
        {
            display: flex;
        }
        .link{
            position:static;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }
        .menu, .close{
            display: none;
        }
        ul{
            display: flex;
        }
        ul li 
        {
            margin-top: 10px;
        }
    }
}
